body{
    display: flex;
    height: 100lvh;
}

.users{
   background-color: rgb(214, 213, 255);
   width: 25%;
   display: flex;
   flex-direction: column;
   border-right: 1px solid rgb(201, 201, 201);

 

}

.chat-container{ 
    /* background-color: green; */
    width: 75%;
  height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    
   
}

.top-section{
  
    height: 60px;
    padding-inline:20px ;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(201, 196, 196);
   
}
.messages{
    padding: 10px 20px;
    background-color: white;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: auto;
    /* text-align: center; */
}

.me{
    float:right;
    align-self: end;
    background-color: rgb(81, 60, 187);
    color: white;
    padding: 7px;
    border-radius: 20px 20px 0px 20px;
    /* text-transform: uppercase;
    text-shadow: 2px 2px 5px red; */
}

.you{
    
    float: left;
    align-self: start;
    background-color: rgb(73, 68, 100);
    color: white;
    padding: 7px;
    border-radius: 20px 20px 20px 0px;
}


.message-input{
 
    background-color: transparent;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    /* background-color: transparent; */
    
}


.input-message{
    width: auto;
    /* background-color: blue; */
    width: calc(100% - 160px);
    display: flex;
    justify-content: center;
}



.leading{
    width: 60px;
}


.myinput{
    /* width: 100lvh; */
    width: 95%;
    border-right: none;
    border-width: 2px 0px 2px 2px;
    border-radius: 10px 0px 0px 10px;
  
}

.icon{
    font-size: 35px !important;
    color:rgb(72, 68, 74);;
}

.send-btn{
    border-radius: 0px 10px 10px 0px;
    padding-inline: 5px;
    color: white;
    background-color: rgb(81, 60, 187);
}

.avatar {
    width: 50px; /* Adjust the size of the avatar */
    height: 50px; /* Adjust the size of the avatar */
    border-radius: 50%; /* Makes it circular */
    overflow: hidden;
    object-fit: cover; /* Ensures the image doesn't overflow the circle */
  }


  .user-info{
    display: flex;
    gap:10px
  }


  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
   /* background-color: aqua; */
  }

  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
  }

  .search-input{
    height: 20px;
    width: 95%;
    border-radius: 5px 0px 0px 5px;
    border-width: 2px 0px 2px 2px;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    background: #000;

  }

  .search-icon{
    padding: 5px;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(189, 189, 189);

  }
  .search-icon:hover{
    background-color: rgb(149, 149, 255);
    color: white;
}
.power{
    background-color: purple;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.power:hover{
    /* color:rgb(255, 28, 28) !important; */
    background-color: rgb(184, 45, 45);

}

.users-list{
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    
}


.list-user{
   
    padding:10px 20px;
    display: flex;
    align-items: center;
    gap:10px
}

.list-user-now{
    background-color: rgb(253, 250, 255);
    padding:10px 20px;
    display: flex;
    align-items: center;
    gap:10px
}

h4{
    opacity: 0.6;
}